{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tests Dashboard{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('dashboard.runtest') }}">Run a Test Now</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for result in results %}
    <article class="test-result">
      <header>
        <div>
          <p class="title">{{ result['timestamp'] }}</p>
          
        </div>
      </header>
      <p>{{ result['html']|safe }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}