:root{
    --content-background-color: white;
    --theme-main: #FFC354;
    --theme-light: #FFCC6E;
    --theme-dark: #B38229;
    --theme-body-background: #fff5cc;
    --theme-primary: #549FFF;
    --theme-secondary: #175CB3;
}

body{
    background-color: var(--theme-body-background);
}

.text-align-right{
    text-align: right;
}

.page-header{
    background-color: var(--theme-main);
    width: 100%;
    margin: 0 0 0.5em 0;
}

.flash{
    width: 75%;
    margin: 0.5em auto;
    padding: 0.25em;
    background-color: lightgreen;
    border: 3px solid green;
    border-radius: 5px;
}

.content-box{
    margin: 0.5em;
    padding: 0.5em;
    background-color: var(--content-background-color);
    border-color: var(--theme-dark);
    border-width: 2px;
    border-radius: 5px;
}

.button{
    border-radius: 5px;
    border: gray solid 0px;
    color: white;
    padding: 0.25em 1em;
}

.color-primary{
    background: var(--theme-primary);
}