{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="row content-box">
    <div class="col"></div>
    <div class="col">
      <h2>Login</h2>
      <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required><br><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required><br><br>
        <input class="button color-primary" type="submit" value="Log In">
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock %}