{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" value="{{ username }}" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="{{ password }}" required>
    <label for="password">Retype Password</label>
    <input type="password" name="password2" id="password2" value="{{ password }}" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}